.header {
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .logo {
    flex: 2;
    font-size: 30px;
    font-weight: 900;
  }

  .logo a {
    text-decoration: none;
  }
  
  .nav {
    flex: 3;
    font-weight: 900;
  }
  .nav a {
    padding: 20px;
  }
  
  
  .search-wrapper {
    flex: 4;
  }
  .search-wrapper input {
  
  }
  